@model PeopleGetter.Models.Roupas

@{
    ViewData["Title"] = "Create";
}

<div style="display:flex">
    <h1>Cadastrar</h1>
    <img src="~/mais.png" height="50px" style="margin-left: 15px"></img>
</div>

<h4>Roupas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tamanho" class="control-label"></label>
                <input asp-for="tamanho" class="form-control" />
                <span asp-validation-for="tamanho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" style="margin-top:20px"/>
            </div>
        </form>
    </div>
</div>

<div style="margin-top:20px">
    <a asp-action="Index">Voltar para a lista</a>
    <img src="~/voltar.png" height="15px"></img>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
