@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo a Carlos Klein</h1>
    <img src="~/Carlos klein Logo bg.png"></img>
    <p>As melhores roupas de qualidade duvidosa</p>
</div>
